{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{title}}</h2>
<div class= "cards_wrapper">
   {% for listing in listings %}
           <div class = "cards_container">
               <div class="image-wrapper">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url|safe }}" alt="{{ listing.title }} image" style="border: 1px solid transparent; border-radius: 5px;">
                    {% else %}
                        <div class="no-image">No image available</div>
                    {% endif %}
                </div>

                 <div class="card-footer">
                    <p class="card-title"><strong>{{ listing.title }}</strong></p>
                    <div class="card-meta">
                        {% if listing.is_active %} <span class="bid">Current bid: ₹{{ listing.current_bid }}</span> 
                        <span class="availability {% if is_active %}not-available{% else %}available{% endif %}">
                            Available{% else %}Sold Out @ ₹{{ listing.current_bid }}{% endif %}
                            </span>


                    </div>
                </div>
            </div>
        {% endfor %}
</div>       
{% endblock %}
