{% extends "auctions/layout.html" %}

{% block title %} LogIn {%endblock%}

{% block body %}
<div class="login-wrapper">
    <div class="login-container">
        <h3 class="login-heading">LogIn</h3>
        <div class="spacer-small"></div>

        {% if message %}
            <div class="login-message">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group login-input">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group login-input">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary login-button" type="submit" value="Login">
        </form>

        <div class="register-link">
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
    </div>
</div>
{% endblock %}
