
{% extends "auctions/layout.html" %}
{% load static %}

{% block title %} {{listing.title}} {% endblock %}

{% block styles %}
    {{ block.super }}  {# Keeps the base.css link #}
    <link href="{% static 'auctions/product.css' %}" rel="stylesheet">
{% endblock %}



{% block body %}
<div class="product-wrap">

    <div class="cards_wrapper">
        <div class="cards_container">
            <div class="image-wrapper">
                {% if listing.image_url %}
                    <img src="{{ listing.image_url|safe }}" alt="{{ listing.title }} image">
                {% else %}
                    <div class="no-image">No image available</div>
                {% endif %}
            </div>

            <div class="card-footer">
                <p class="card-title"><strong>{{ listing.title }}</strong></p>
                <div class="card-meta">
                    {% if listing.is_active %}
                        <span class="bid">Current bid: ₹{{ listing.current_bid }}</span> 
                        <span class="availability {% if is_active %}not-available{% else %}available{% endif %}">
                            Available
                    {% else %}
                        Sold Out @ ₹{{ listing.current_bid }}
                    {% endif %}
                        </span>
                </div>
            </div>
        </div>
    </div>      

    <div class="product-info">
        <div class="product-intro">
            <h4>{{ listing.title }}</h4>
            <hr>
            <h5><strong>Description:-</strong></h5>
            <div>
                {{ listing.description }}
                <ul><br>
                    <li>
                        Seller:- <strong>@{{ listing.owner.username }}</strong>, email_id: <strong>{{ listing.owner.email }}</strong>
                        <br> Initial Bid:- <strong>₹</strong> {{ listing.starting_bid }}/-
                    </li><br>
                </ul>
            </div>

            <div class="bids-wrap">
                <div class="all-bids">
                    <strong>All Recent Bids:-</strong>
                    <ul>
                        {% for bid in bids %}
                            <li>@{{ bid.user.username }}:- <strong>₹</strong>{{ bid.amount }}</li>
                        {% empty %}
                            <li>No bids made yet.</li>
                        {% endfor %}
                    </ul>
                </div>

                {% if user.is_authenticated %}
                    <div class="new_bid">
                        {% if listing.is_active %}
                            {% if request.user == listing.owner and listing.bids.all %}
                                <form action="{% url 'sell' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="sell-button"
                                        onclick="return confirm('Are you sure you want to sell this item @ ₹{{ listing.current_bid }}?')">
                                        Sell this Item
                                    </button>
                                </form>
                            {% elif request.user != listing.owner %}
                                <h2 class="bid-now-header"><br>Bid Now..<br></h2>
                                <form action="{% url 'bid' listing.id %}" method="post">
                                    {% csrf_token %}
                                    {{ form2 }}
                                    <div id="btn-wrapper">
                                        <input id="newlisting-btn" class="btn btn-primary login-button" type="submit" value="Raise Bid">
                                    </div>
                                </form>
                            {% endif %}
                        {% else %}
                            {% if listing.winner == request.user %} <h4><br><strong>Congratulations!</strong><br> You have won this auction.</h4> 
                            {%else%}
                            <h4><br>Sold to <strong>@{{listing.winner.username}}</strong></h4>{%endif%}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div> 

    <div class="comment-wrap">
        <div style="height: 50px; margin-bottom: 10px;">
            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'like' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="toggle" class="sell-button" style="width:auto;">
                            {% if added %}Remove from WatchList{% else %}Add to WatchList{% endif %}
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="comments">
            <h5>Comments:-</h5>
            <ul>
                {% for comment in comments %}
                    <li><strong>@{{ comment.user.username }} </strong>:- {{ comment.text }}</li>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
            </ul>
        </div>

        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'comment' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ form3 }}
                    <div id="btn-wrapper">
                        <input id="newlisting-btn" class="btn btn-primary login-button submit-comment-button" type="submit" value="submit">
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
